<section class="">
<div style="position:sticky; top: 0;
z-index: 1;position: relative;left: 1300px;">
  <a  href="https://wa.me/919895344342"><img style="width: 60px;height: 60px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/767px-WhatsApp.svg.png" alt="">
  </a>
</div>
    <!-- Footer -->
    <footer class="text-center text-white" style="      background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">For More Details Or Help</span>
            <a  type="button" routerLink="contact" class="btn btn-outline-light btn-rounded">
             Contact Us!
            </a>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="">Halftime</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>