<!-- Gallery -->
<div class="row mt-5">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://i.pinimg.com/736x/07/21/fa/0721fab1498a5a47c32cc882855de1bc.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="https://i.ytimg.com/vi/AVKtpbgJ9aI/maxresdefault.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://i.pinimg.com/originals/d6/24/fe/d624feaee9cf09f458495b05408f799b.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="https://img.redbull.com/images/q_auto,f_auto/redbullcom/2020/12/15/fdmm0wsqvj6pm3yiaooq/sporthood-espirito-football-turf-ground-kochi-kerala"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://th-i.thgim.com/public/news/cities/Thiruvananthapuram/gzlahw/article30333908.ece/alternates/FREE_1200/18TVTV-ARTIFICIALFOOTBALLTURF"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="https://th-i.thgim.com/public/news/national/kerala/co41ad/article25280655.ece/alternates/FREE_1200/football"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery -->