<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
		<div class="container">
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<!-- <img src="https://image.flaticon.com/icons/png/256/4213/4213732.png"> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15707.854812219286!2d76.4030434!3d10.1836031!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0807fdaa11437f%3A0xbfb586b69713f516!2sSurabhi%20Turf%20Court!5e0!3m2!1sen!2sin!4v1690995037245!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="contentBx">
						<h3>Surabhi Turf<br><span></span></h3>
					</div>
				</div>
			
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<!-- <img src="https://image.flaticon.com/icons/png/256/4213/4213736.png"> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.96977453093!2d76.38679407794815!3d10.183109943921284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0807fa69b2c0e5%3A0xd090eb8ca7fedeab!2sAngamaly%20municipal%20turf!5e0!3m2!1sen!2sin!4v1690995895310!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="contentBx">
						<h3>Muncipal Turf<br><span></span></h3>
					</div>
				</div>
		
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<!-- <img src="https://image.flaticon.com/icons/png/256/4213/4213641.png"> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.962786196267!2d76.39675227481204!3d10.183677569847706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080736f19409b1%3A0xa1c27688704e010d!2sSOCCER%20BAY%20Football%20Arena!5e0!3m2!1sen!2sin!4v1690995767697!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="contentBx">
						<h3>Soccer Bay<br><span></span></h3>
					</div>
				</div>
				
			</div>
            <div class="card">
				<div class="content">
					<div class="imgBx">
						<!-- <img src="https://image.flaticon.com/icons/png/256/4213/4213736.png"> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15705.550786170164!2d76.3986427871582!3d10.230282300000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b08076aa69a7833%3A0x104dd8104251a239!2sTachyon%20Sports%20Hub!5e0!3m2!1sen!2sin!4v1690996021621!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>					</div>
					<div class="contentBx">
						<h3>Mokkanur Turf<br><span></span></h3>
					</div>
				</div>
		
			</div>


   <div class="card">
				<div class="content">
					<div class="imgBx">
						<!-- <img src="https://image.flaticon.com/icons/png/256/4213/4213736.png"> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7854.541716831296!2d76.3580253905529!3d10.158624670499778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b08055690c73ed7%3A0x811362e591fe4536!2sCarnival%20Sports%20Zone!5e0!3m2!1sen!2sin!4v1690996156712!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    </div>
					<div class="contentBx">
						<h3>Kariyad Turf<br><span></span></h3>
					</div>
				</div>
		
			</div>


            <div class="card">
				<div class="content">
					<div class="imgBx">
						<!-- <img src="https://image.flaticon.com/icons/png/256/4213/4213736.png"> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62836.3155698902!2d76.32197535497181!3d10.158717106841353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080f725873acd3%3A0x46a79e08f895deb4!2sSport%20On%20Football%20Turf!5e0!3m2!1sen!2sin!4v1690996446302!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   </div>
					<div class="contentBx">
						<h3>Spot On Turf<br><span></span></h3>
					</div>
				</div>
		
			</div>

            <div class="card">
				<div class="content">
					<div class="imgBx">
						<!-- <img src="https://image.flaticon.com/icons/png/256/4213/4213736.png"> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.983686306092!2d76.42651097481215!3d10.181979869877397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080795ca9cb9b7%3A0xb49f247f8c2ac5a1!2sAtoms%20football%20turf!5e0!3m2!1sen!2sin!4v1690996569363!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   </div>
					<div class="contentBx">
						<h3>Atoms Turf<br><span></span></h3>
					</div>
				</div>
		
			</div>

            <div class="card">
				<div class="content">
					<div class="imgBx">
						<!-- <img src="https://image.flaticon.com/icons/png/256/4213/4213736.png"> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.20293619867!2d76.86880947479791!3d8.576476895908714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bf632dfa3ac5%3A0xa92baf05eaaf98eb!2sSportigo%20sports%20turf!5e0!3m2!1sen!2sin!4v1690996773993!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   </div>
					<div class="contentBx">
						<h3>Sportigo Turf<br><span></span></h3>
					</div>
				</div>
		
			</div>


            
            <div class="card">
				<div class="content">
					<div class="imgBx">
						<!-- <img src="https://image.flaticon.com/icons/png/256/4213/4213736.png"> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62844.43270501585!2d76.42008634863281!3d10.117327599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07e3345078b50f%3A0x6163e36046ee1e19!2sCity%20Soccers%20Football%20Turf!5e0!3m2!1sen!2sin!4v1690996991354!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   </div>
					<div class="contentBx">
						<h3>City Soccers Turf<br><span></span></h3>
					</div>
				</div>
		
			</div>

		</div>
	</section>
</body>
</html>
